Here are your Future transactions!
<table class="table table-striped table-bordered table-condensed">
	<tr>
		<th>Date</th>
		<th>Transaction</th>
		<th>Amount</th>
		
	</tr>
<% @transaction.each do |transaction| %>
	<tr class="<%=transaction.type_of%>">
		<td>
			<%= transaction.transaction_date %>
		</td>
		<td>
			<%= transaction.name %>
		</td>
		<td>
			<%= transaction.amount %>
		</td>
		<td>

			<%= link_to("[COMMIT]", {controller: "transactions", action: "commit", :id => transaction.id}, :id => "commit_#{transaction.id}", :method => "post") %>
			<%= link_to("[DELETE]", transaction , :method => :delete, :id => "delete_#{transaction.id}") %>
			<%= link_to("[EDIT]", edit_transaction_path(transaction) , :method => :get, :id => "edit_#{transaction.id}") %>
		</td>

	</tr>
<% end %>
</table>